* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.d-none {
    display: none;
}

.container {
    width: 1200px;
    margin: auto;
}

.general {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    .card-size {
        border: 1px solid red;
        justify-content: center;
        width: 100%;
        height: 700px;

        img {
            width: 100%;
            height: 100%;
            // display: none;
        }

        position: relative;

        .swiper-btns {
            display: flex;
            justify-content: space-between;
            position: absolute;
            width: 100%;
            top: 50%;
            padding: 0 10px;

        }

        a {
            height: 25px;
            width: 25px;

            i {
                font-size: 30px;
                color: white;
                cursor: pointer;
            }
        }


    }
}

.active {
    display: none;
}



.fade-in {
    animation: fade 4s infinite;
}

@keyframes fade {
    0% {
        // opacity: 0;
        transform: rotate3d(2, 2, 0, 0deg);
    }
    20% {
        opacity: 1;
        transform: rotate3d(0, 0, 0, 0deg); 
    }
    80% {
        opacity: 1;
        transform: rotate3d(0, 0, 0, 0deg);
    }
    100% {
        // opacity: 0;
        transform: rotate3d(-2, -2, 0, 0deg);
    }
}

